<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Breazy
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/profile">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-item>
        <ion-item routerLink="/shopping/tabs/offers">
          <ion-icon name="cart-outline" slot="start"></ion-icon>
          <ion-label>Shopping</ion-label>
        </ion-item>
        <ion-item routerLink="/orders">
          <ion-icon name="albums-outline" slot="start"></ion-icon>
          <ion-label>Orders</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
